.checkout-item-image{
    width: 200px;
}
.checkout-page-container{
    padding: 3rem 5rem;

}
.checkout-items-container{
    width: 500px;
    height: 100%;
    overflow-y: auto;
}
.cart-item{
    margin-top: 0;
}
.order-summary-section{
    height: 44rem;
    display: flex;
    justify-content: space-between;
}

.checkout-form-container{
    background-color: #F8F6F7;
    width: 65%;
    height: 100%;
    border-radius: 15px;
    padding: 3rem;
}

.checkout-items-container {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.cart-items-scroll-area {
  flex: 1; 
  overflow-y: auto;
}

.user-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem; 
    max-width: 600px;
    border-radius: 8px;
    margin-top: 50px;
}


.email-field {
  display: flex;
  flex-direction: column;
  position: relative;

}
.email-field.form-field input {
  padding-left: 40px;
}

.full-width {
  grid-column: 1 / -1;
}
.email-icon{
  position: absolute;
   top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #888;
  font-size: 20px;
  pointer-events: none;
}

.form-field label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #333;
}

.form-field input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box; 
}


.cart-items-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.checkout-footer {
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  gap: 20px;
  font-size: 18px;
}
.checkout-summary {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.summary-row {
  display: flex;
  justify-content: space-between;
}
.summary-row.total {
  font-size: 20px;
  margin-top: 10px;
}

.checkout-footer-texts{
  display: flex;
  flex-direction: column;
  gap:15px
}
.checkout-footer-prices{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap:15px;
}
.checkout-pay-button {
  padding: 15px;
  background-color: #FF4000;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%; 
  font-size: 16px;
  font-weight: bold;
  
}

.error-message{
  color: red;
}

