.Product-Detail-Container{
     padding: 1rem 5rem;
     display: flex;
     justify-content: space-between;
}
.Product-Detail-Main-Image-Container{
    display: flex;
}

.Product-Detail-Main-Image{
    
    border: 1px solid #ddd; 
    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 70%;
    height: 70%;
    object-fit: contain;
  
}

.Product-Description-Info-Container {
    width: 70%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap:25px; 
}

.Product-Sizes-Container{
   display: flex;
   gap:1rem;
   margin-top: 20px;
}

.Product-Size-Box{
    display: flex;
    border: 1px solid rgb(209, 207, 207);
    padding: 5px;
    border-radius: 8px;
    padding-left: 30px;
  padding-right: 30px;
  
}

.Product-Size-Box:hover,
.Product-Color-Box:hover{
    cursor: pointer;
}
.Product-Colors-Container{
    display: flex;
    gap:1rem;
    margin-top: 20px;
    margin-bottom: 50px;
}
.Product-Color-Box{
   display: flex;
    border: 1px solid rgb(209, 207, 207);
    padding: 15px;
    border-radius: 50%;
   
}
.Product-Color-Text{
    margin-top: 50px;
}
.Product-Small-Images{
    width: 120px;
    
    cursor: pointer;
}

.Product-Small-Images-Container{
    width: 180px;
}
.Quantity-Selector{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50px;
    gap:10px
}

.Quantity-Selector select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
   width: 100%;
}

.Add-To-Cart-Button{
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
    padding:1rem;
     background-color: #FF4000;
     border: none;
     color: white;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap:5px;
     font-family: poppins;
     cursor: pointer;
}
.Add-To-Cart-Button:hover{
    background-color: #d43702;
}

.Product-Brand-Details-Container{
    display: flex;
    flex-direction: column;
    gap:20px
}

.Details-Text{
    font-size:25px;
    font-weight: 500;
}
