.Products-Page-Container{
    padding: 1rem 5rem;
}

.Products-Header-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;  
}

.Filter-Sort-Container{
    display: flex;
    gap:3rem;
}

.Filter{
    position: absolute;
    right: 200px;
    width: 70px;
}
.Filter-Button{
    display: flex;
    align-items: center;
    width: 70px;
    gap:15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.Filter-Inputs-Container{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 8px;
    width: 400px;
    height: 180px;
    right:10px;
    background-color: white;
    border: 1px solid rgb(212, 208, 208);
    border-radius: 10px;
}
.Filter-Inputs{
    display: flex;
    gap:10px;
    margin-top: 10px;
    
}

.Apply-Button-Wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  
}
.filter-apply-button{
    padding: 10px;
     color:white;
     background-color: #FF4000;
     border:none;
     border-radius: 10px;
     width: 130px;
     cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filter-apply-button:hover{
    background-color: #d43702;
}

.price-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.active-filter-display{
    border: 1px solid rgb(207, 206, 206);
    border-radius: 30px;
    display: flex; 
    gap:15px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.clear-filter-button{
    border: none;
    background-color: transparent;
    color: rgb(112, 110, 110);
    cursor: pointer;
}



.Product-List-Container{
    display: grid;
    grid-template-rows: repeat(4, 1fr); /* 4 rows */
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    gap: 50px;
    
}
.Product-Cover {
    
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    border: 1px solid #ddd; 
   margin-bottom: 10px;
}
.Products-Image{
    width: 250px;
    margin: auto;
    display: block;
}
.Product-Card p {
    font-weight: 500;
}
.Product-Link{
    text-decoration: none;
    color: black;
    
}

.Product-Link:hover{
    color: rgb(82, 79, 79);
}

.Sort{
    display: flex;
    align-items: center;
    gap:0.5rem;
    cursor: pointer;
}

.Sort-Button{
    cursor: pointer;
    
}

.Sort-Modal-container{
     position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    gap: 20px;
    width: 200px;
    height: 180px;
    top:200px;
    right:80px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 208, 208);
    border-radius: 10px;
    
}

.Sort-Modal-container button{
    border: none;
    background-color: transparent;

    
}

.Sort-Modal-container button:hover{
    color: rgb(83, 82, 82);
    cursor: pointer;
}