.Products-Page-Container{
    padding: 1rem 5rem;
}

.Products-Header-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;  
}

.Filter-Sort-Container{
    display: flex;
    gap:3rem;
}

.Filter{
    display: flex;
    align-items: center;
    gap:1rem
}

.Sort{
    display: flex;
    align-items: center;
    gap:0.5rem
}

.Product-List-Container{
    display: grid;
    grid-template-rows: repeat(4, 1fr); /* 4 rows */
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    gap: 50px;
    
}
.Product-Cover {
    
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    border: 1px solid #ddd; 
   
}
.Products-Image{
    width: 250px;
    margin: auto;
    display: block;
}

.Product-Link{
    text-decoration: none;
    color: black;
    
}

.Product-Link:hover{
    color: rgb(82, 79, 79);
}
